.box {
    display: flex;
    align-items: center;
    margin: 12px 0;
    transition: .3s ease-in-out;
}

.box:hover {
    background-color: var(--gray-color);
    cursor: pointer;
    border-radius: 12px;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 10px 10px 0;
}

.user-info {
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}


.username {
    font-weight: 500;
}
