.house {
    display: flex;
    margin: 0 12px 12px 12px;
    align-items: center;
    transition: .2s ease-in-out;
    border-radius: 16px;
}

.house:hover {
    background-color: var(--gray-color);
    cursor: pointer;
}

img {
    width: 120px;
    height: 100px;
    border-radius: 16px;
}

.house-info {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.house-info h2 {
    font-size: 20px;
    font-weight: 500;
}

.house-info p {
    color: var(--gray-dark-color);
}