.house {
    display: flex;
    margin: 0 12px 12px 12px;
    align-items: center;
    transition: .2s ease-in-out;
    border-radius: 16px;
}

.house:hover {
    background-color: var(--gray-color);
    cursor: pointer;
}

img {
    width: 120px;
    height: 100px;
    border-radius: 16px;
}

.house-info {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.house-info h2 {
    font-size: 20px;
    font-weight: 500;
}

.house-info p {
    color: var(--gray-dark-color);
}

@media (min-width: 600px) {
    .house {
        margin: 0 24px 24px 24px;
    }
}

@media (min-width: 800px) {
    .house {
        margin: 0;
        flex-direction: column;
        padding: 24px;
    }

    .house-image {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
    }

    .house-info {
        margin: 12px;
        width: 100%;
    }

    h2 {
        width: 100%;
    }
}