<section>
    <h4>Stay organized with Homestocker</h4>
    <div class="articles">
        <article>
            <img src="../../../../assets/images/landingpage2.png" alt="images">
            <h2>List</h2>
            <p>Create lists and categorize your items</p>
        </article>
        <article>
            <img src="../../../../assets/images/landingpage3.png" alt="images">
            <h2>Categorize</h2>
            <p>Easily track what you own and where it is</p>
        </article>
        <article>
            <img src="../../../../assets/images/landingpage4.png" alt="images">
            <h2>Track</h2>
            <p>Add expiration dates and track usage</p>
        </article>
        <article>
            <img src="../../../../assets/images/landingpage5.png" alt="images">
            <h2>Share</h2>
            <p>Share with family and friends</p>
        </article>
    </div>
</section>