<div class="box">
    <ul class="list-unstyled components">
        <li [ngClass]="{ 'active': isActive('home') }" (click)="navigateTo('home')">
            <img src="../../../assets/icons/home.svg" alt="svg">
            <span>Home</span>
        </li>
        <li [ngClass]="{ 'active': isActive('products') || isActive('product') }" (click)="navigateTo('products')">
            <img src="../../../assets/icons/products.svg" alt="svg">
            <span>Products</span>
        </li>
        <li [ngClass]="{ 'active': isActive('users') }" (click)="navigateTo('users')">
            <img src="../../../assets/icons/users.svg" alt="svg">
            <span>Users</span>
        </li>
        <li [ngClass]="{ 'active': isActive('notifications') }" (click)="navigateTo('notifications')">
            <img src="../../../assets/icons/notifications.svg" alt="svg">
            <span>Notifications</span>
        </li>
        <li [ngClass]="{ 'active': isActive('settings') }" (click)="navigateTo('settings')">
            <img src="../../../assets/icons/settings.svg" alt="svg">
            <span>Settings</span>
        </li>
        <li class="button-add-product" [ngClass]="{ 'active': isActive('add-product') }" (click)="isAddProductActive=true">
            <img src="../../../assets/icons/plus.svg" alt="svg" class="plus-svg">
            <span>Add Product</span>
        </li>
    </ul>
</div>

<app-add-product *ngIf="isAddProductActive"></app-add-product>