<div class="box">
    <ul class="list-unstyled components">
        <li class="active">
            <img src="../../../assets/icons/home.svg" alt="svg">
            <a routerLink="#">Home</a>
        </li>
        <li>
            <img src="../../../assets/icons/products.svg" alt="svg">
            <a routerLink="#">Products</a>
        </li>
        <li>
            <img src="../../../assets/icons/users.svg" alt="svg">
            <a routerLink="#">Users</a>
        </li>
        <li>
            <img src="../../../assets/icons/notifications.svg" alt="svg">
            <a routerLink="#">Notifications</a>
        </li>
        <li>
            <img src="../../../assets/icons/settings.svg" alt="svg">
            <a routerLink="#">Settings</a>
        </li>
        <li class="button-add-product">
            <img src="../../../assets/icons/plus.svg" alt="svg" class="plus-svg">
            <a routerLink="#">Add Product</a>
        </li>
    </ul>
</div>