footer {
    background-color: var(--blue-color);
    color: #fff;
    width: 100%;
    border: 1px solid black
}

.footer_links {
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
    padding: 12px 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 24px;
    height: 24px;
}

.footer_social {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    padding: 12px 0;
}

.instagram {
    margin: 0 12px;
}