<footer>
    <div class="footer_links">
        <a routerLink="/privacy-policy">Privacy policy</a>
        <a routerLink="/terms-and-conditions">Terms and conditions</a>
        <a routerLink="/contact">Contact</a>
    </div>

    <div class="footer_social">
        <a href="https://www.facebook.com/" target="_blank">
            <img src="../../../../assets/icons/tiktok.svg" alt="tiktok">
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img class="instagram" src="../../../../assets/icons/instagram.svg" alt="instagram">
        </a>
        <a href="https://www.twitter.com/" target="_blank">
            <img src="../../../../assets/icons/twitter.svg" alt="twitter">
        </a>
    </div>

    <p>&copy; 2024 <a routerLink="/">Homestocker</a></p>
</footer>