nav {
    display: flex;
    border-bottom: 2px solid var(--navbar-line-color);
    padding: 12px 48px;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    cursor: pointer;
}

.logo {
    width: 48px;
    height: auto;
    object-fit: contain;
}

.user-img {
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
}

.li-user {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 10px 0 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

.start-now {
    background-color: var(--blue-color);
    padding: 8px 24px;
    border-radius: 10px;
    margin-left: 12px;
}

.start-now-a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}

.start-now:hover {
    background-color: var(--blue-hover-color);
}

@media (max-width: 600px) {
    h1 {
        display: none;
    }

    .logo-title {
        margin-right: 10px;
    }

    nav {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 800px) {
    .logo {
        margin-right: 12px;
    }

    li {
        margin: 0 24px 0 0;
    }
}

