<div class="input-container">
    <input type="text" placeholder="Search for Products" class="">
    <img src="../../../../assets/icons/magnifying-glass.svg" alt="search icon" class="input-icon">
</div>

<div class="filter">
    <select [(ngModel)]="selectedOption" (change)="onSelectChange()">
        <option value="soon">Expired soon</option>
        <option value="alphabetical">Alphabetical order</option>
        <option value="last">Expired last</option>
    </select>
    <img src="../../../../assets/icons/filter.svg" alt="filter" class="select-icon" 
    [ngClass]="{'alphabetical': selectedClass == 'alphabetical', 'soon': selectedClass == 'soon', 'last': selectedClass == 'last'}">
</div>