<h2>Products</h2>

<app-search placeholder="Search for Products" (searchChange)="onSearchChange($event)"></app-search>

<div *ngIf="!isLoading">

    <app-filter [options]="options" (optionChange)="onFilterChange($event)"></app-filter>

    <div class="products">
        <app-product-box *ngFor="let product of filteredProducts" [product]="product"></app-product-box>
        <p *ngIf="filteredProducts.length < 1" class="no-products-info">No products found</p>
    </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>