<div class="content" *ngIf="!isLoading">
    <h2>Product Details</h2>
    
    <div class="product">
        <img src="../../../../../assets/images/product1.jpg" alt="product">
        <div class="product-info">
            <h3>{{ product.name }}</h3>
            <p>{{ product.category }}</p>
            <button (click)="onEdit()" class="edit">Edit</button>
            <button (click)="onDelete()" class="delete">Delete</button>
        </div>
    </div>
    
    <div class="quantity">{{product.total_quantity}} items</div>
    
    <div class="expiration-dates">
        <div class="title-button">
            <h2>Expiration Dates</h2>
            <button (click)="showModal=true">Add</button>
        </div>
        <div class="expiration-date" *ngFor="let date of product.expiration_details">
            <app-product-detail [productDetail]="date" [productId]="product.id" (productDetailChange)="onProductUpdated($event)"></app-product-detail>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal" *ngIf="showModal">
    <div class="modal-content">
        <span class="close" (click)="showModal=false">&times;</span>
        <h2>Add Expiration Date</h2>
        <form (ngSubmit)="submitForm()">
            <label for="expirationDate">Expiration Date:</label>
            <input type="date" id="expirationDate" [(ngModel)]="newExpirationDate" name="expirationDate" required>
            
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" [(ngModel)]="newQuantity" name="quantity" required>
            
            <button type="submit">Add</button>
        </form>
    </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>