<div class="content" *ngIf="!isLoading">
    <h2>Product Details</h2>
    
    <div class="product">
        <img [src]="getProductImageUrl()" alt="product">
        <div class="product-info">
            <h3>{{ product.name }}</h3>
            <p>{{ product.category }}</p>
            <button (click)="onEdit()" class="edit">Edit</button>
            <button (click)="showDeleteModal=true" class="delete">Delete</button>
        </div>
    </div>
    
    <div class="quantity">{{product.total_quantity}} items</div>
    
    <div class="expiration-dates">
        <div class="title-button">
            <h2>Expiration Dates</h2>
            <button (click)="showModal=true">Add</button>
        </div>

        <app-filter *ngIf="product.expiration_details.length > 1" [options]="options" (optionChange)="onFilterChange($event)"></app-filter>

        <div class="expiration-date">
            <app-product-detail *ngFor="let date of product.expiration_details" [productDetail]="date" [productId]="product.id" (productDetailChange)="onProductUpdated($event)"></app-product-detail>
            <p *ngIf="product.expiration_details.length < 1">Not product yet</p>
        </div>
    </div>

</div>

<div class="modal" *ngIf="showModal">
    <div class="modal-content">
        <span class="close" (click)="showModal=false">&times;</span>
        <h2>Add Expiration Date</h2>
        <form (ngSubmit)="submitForm()">
            <label for="expirationDate">Expiration Date:</label>
            <input type="date" id="expirationDate" [(ngModel)]="newExpirationDate" name="expirationDate" required>
            
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" [(ngModel)]="newQuantity" name="quantity" required>
            
            <button type="submit">Add</button>
        </form>
    </div>
</div>

<div class="modal" *ngIf="showDeleteModal">
    <div class="modal-content">
        <span class="close" (click)="showDeleteModal=false">&times;</span>
        <h2>Delete Product</h2>
        <p>Are you sure you want to delete this product?</p>
        <button (click)="onDeleteProduct()" class="delete-button">Delete</button>
    </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>