.h2-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    margin-bottom: 36px;
}

button {
    background-color: var(--blue-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: var(--blue-hover-color);
}

@media (max-width: 330px) {
    .h2-button {
        flex-direction: column;
    }

    button {
        margin-top: 12px;
        width: 100%;
    }
}