.title-description p {
    color: var(--gray-dark-color);
    margin-top: 8px;
}

.users {
    margin: 12px 0;
}

.show-more {
    margin-top: 8px;
    color: var(--blue-color);
    font-weight: 500;
    cursor: pointer;
}

.show-more:hover {
    text-decoration: underline;
}