<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <h2>Add Product</h2>
    <form (ngSubmit)="submitForm()">
      <div class="photo" (click)="triggerFileInput()">
        <img *ngIf="photoPreview" [src]="photoPreview" alt="Photo Preview" class="photo-preview">
        <img *ngIf="!photoPreview" src="../../../../assets/icons/image.svg" alt="photo-preview" class="photo-preview">
        <input class="input-file" type="file" id="photo" (change)="onPhotoChange($event)" name="photo">
        <span>Add photo</span>
      </div>
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="product.name" name="name" required>
      </div>
      <div>
        <label for="category">Category:</label>
        <input type="text" id="category" [(ngModel)]="product.category" name="category" required>
      </div>
      <h4 *ngIf="product.quantities.length > 0">Expiration details</h4>
      <div *ngFor="let detail of product.quantities; let i = index" class="expiration-detail">
        <div>
          <label for="expiration_date-{{i}}">Expiration Date:</label>
          <input type="date" id="expiration_date-{{i}}" [(ngModel)]="detail.expiration_date" name="expiration_date-{{i}}" required>
        </div>
        <div>
          <label for="quantity-{{i}}">Quantity:</label>
          <input type="number" id="quantity-{{i}}" [(ngModel)]="detail.quantity" name="quantity-{{i}}" required>
        </div>
        <button type="button" (click)="removeExpirationDetail(i)" class="remove-expiration">Remove</button>
      </div>
      <div class="buttons">
        <button type="button" (click)="addExpirationDetail()" class="add-button">Add Expiration Detail</button>
        <button type="submit" class="submit-button">Submit</button>
      </div>
    </form>
  </div>
</div>