article {
    margin: 24px 12px 0 12px;
}

p {
    margin-top: 12px;
}

a {
    background-color: var(--blue-color);
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 24px ;
    display: inline-block; 
}

a:hover {
    background-color: var(--blue-hover-color);
}

@media (min-width: 380px) {
    article {
        margin: 24px 24px 0 24px;
    }
}

@media (min-width: 600px) {
    article {
        margin: 24px 0 0 0;
    }
}